{% extends 'external-base.html' %}
{% load static %}

{% block content %}

<p>
Current accounts:
</p>
<table>
{% for acc in google_accounts %}
<tr>
  <td>
    {{ acc.google_user_email }}
  </td>
  <td>
    {{ acc.scopes }}
  </td>
  <td>
    <form action="{% url update_gaccount_settings %}" method="post">
      <input id="id" value="{{acc.account_id}}" type="hidden">
      <input type="checkbox" id="calendar_sync_enabled" checked="{{acc.calendar_sync_enabled}}" > <label>Calendar Sync</label>
      <input type="checkbox" id="second_chance_email" checked="{{acc.second_chance_email}}"> <label>2nc chance spam filter</label>
      <input type="checkbox" id="delete_events_from_email" checked="{{acc.delete_events_from_email}}"> <label>E-mail Event Cleanup</label>
      <input type="submit" value="Update">
    </form>
  </td>
</tr>
{% endfor %}
</table>
<p>
  Add <a href="{% url 'google-authorize' %}?scopes={{ 'cal_scopes' |urlencode }}">an account</a>
</p>

<p>
  Add <a href="{% url 'google-authorize' %}?scopes={{ 'cal_scopes,base_email_scopes' |urlencode }}">an account w/just enough e-mail for 2nd chance e-mail + flight cancelations</a>
</p>
<p>
  Add <a href="{% url 'google-authorize' %}?scopes={{ 'cal_scopes,base_email_scopes,read_email_scopes' | urlencode }}">an account more email (enough to get rid of those best buy phishing e-mails & do a better job processing reservation e-mails)</a>
</p>

Want to <a href="https://myaccount.google.com/permissions">revoke an account?</a>

<p>
  Current calendars:
</p>
<table style="border: 1px solid; width: 100%;">
  <tr>
    <th>Google User</th>
    <th>Calendar Name</th>
    <th>Calendar ID</th>
  </tr>
{% for cal in calendars %}
  <tr>
    <th>{{ cal.google_account.google_user_email }}</th>
    <th>{{ cal.name }}</th>
    <th>{{ cal.google_calendar_id }}</th>
  </tr>
{% endfor %}
</table>
Missing a new calendar: <a href="{% url 'update-user-calendars' %}">Update calendars</a><br/>
<p>
  Current syncs:
</p>
{% for sync in syncs %}
<p>
  {{ sync }}
</p>
{% endfor %}

{% endblock content %}
