{% extends 'external-base.html' %}
{% load static %}

{% block content %}

<p>
Current accounts:
</p>
{% for acc in google_accounts %}
<p>
  {{ acc.google_user_email }}
</p>
{% endfor %}

<p>
  Add <a href="{% url 'google-authorize' %}?scopes={{ 'cal_scopes' |urlencode }}">an account</a>
</p>

<p>
  Add <a href="{% url 'google-authorize' %}?scopes={{ 'cal_scopes,base_email_scopes' |urlencode }}">an account w/just enough e-mail for 2nd chance e-mail + flight cancelations</a>
</p>
<p>
  Add <a href="{% url 'google-authorize' %}?scopes={{ 'cal_scopes,base_email_scopes,read_email_scopes' | urlencode }}">an account more email (enough to get rid of those best buy phishing e-mails & do a better job processing reservation e-mails)</a>
</p>


<p>
  Current calendars:
</p>
<table style="border: 1px solid; width: 100%;">
  <tr>
    <th>Google User</th>
    <th>Calendar Name</th>
    <th>Calendar ID</th>
  </tr>
{% for cal in calendars %}
  <tr>
    <th>{{ cal.google_account.google_user_email }}</th>
    <th>{{ cal.name }}</th>
    <th>{{ cal.google_calendar_id }}</th>
  </tr>
{% endfor %}
</table>
Missing a new calendar: <a href="{% url 'update-user-calendars' %}">Update calendars</a><br/>
<p>
  Current syncs:
</p>
{% for sync in syncs %}
<p>
  {{ sync }}
</p>
{% endfor %}

{% endblock content %}
